*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.all
{
    background-color:black;
    min-height:100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header
{
    display: flex;
    justify-content: space-between;
    margin:auto;
    width: 80%;
    align-items: center;
}
.logo
{
    width: 50%;
    padding: 20px 0;
}
ul li 
{
    display: inline-block;
}
ul li a
{
    color: #fff;
    text-decoration: none;
    margin: 0 1.5rem;
    font-size: 1.1rem;
    transition: .95s;

}
ul li a:hover
{
    background-color: rgb(173, 216, 230);
    padding: 8px 15px;
    border-radius: 20px;
    color: rgb(70,70,70);

}
.content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text
{
    color: #fff;
    width: 40%;
}
.content .text h3{
    font-size: 36px;
    font-family: Arial;
    letter-spacing: .66px;
    font-weight: 600;
    margin-bottom: 12px;
}
.content .text p{
    font-size: 18px;
    font-family: Arial;
    font-style: italic;
    color: rgb(203, 205, 206);
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
    background-color: #fff;
    color:rgb(239, 126, 5);
    padding: 8px 15px;
    border-radius: 18px;
    position: relative;
    transition: .9s;
}
.content .text a:hover
{
   transform: scale(1.2);
   background-color: rgb(173, 216, 230); 
   color: rgb(70, 70, 70);
}
.content .image
{
    width: 30%;
}
.content .image img{
    width: 200px;
}
.icon
{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);

}
.icon img
{
    width:60px;
    transition: .7s;
    cursor: pointer;
}
.icon img:hover 
{
    transform: scale(1.2);
}
@media (max-width:767px)
{
    ul li a {
        margin: 0 0.16rem;
        font-size: 0.7rem;
        white-space: nowrap;
    }
    ul li a:hover
    {
        padding: 3px 5px;
    }
    .content
    {
        margin-left: 16px;
    }
    .content .text h3
    {
        font-size: 1.3rem;
        white-space: nowrap;
    }
    .content .text p
    {
        font-size: 0.6rem;
        line-height: 1.66;
        white-space: nowrap;
        align-items: center;
        position: relative;
    }
    .content .text a
    {
        padding: 5px 10px;
    }
    .content
    {
        margin-top: 60px;
    }
    .content .image img
    {
        width: 120px;
        margin-top: 1.5rem;
        margin-left: 16px;

    }
    .icon img
    {
        margin-bottom: 60px;
        white-space: nowrap;
        width: 30px;
        display: flex;
        display: inline-block;
        transform:translate(-50%);
        transform: scale(1);
    }

}
@media (min-width:768px)
{
    .content
    {
        margin-top: 70px;
    }
    .icon img
   {
    margin-bottom: 60px;
   } 
}